<md-content layout-padding>
  <div style="width : 100%; margin: 0 auto;">
    <div class="homeBackground">
      <div class="transbox">
        <h1>Welcome to Michelle's Personal Website</h1>
        <h2>Below are my recent work</h2>
      </div>
      <div class="contacts">
        <h3><a ng-href="https://github.com/shell0720" target="_blank">GitHub</a></h3>
        <h3><a ng-href="https://www.linkedin.com/in/michelle-wang-32b42942?trk=nav_responsive_tab_profile" target="_blank">LinkedIN</a></h3>
        <h3><a ng-href="http://intense-lake-22320.herokuapp.com/" target="_blank">Michelle's Solo Project</a></h3>
        <h3><a ng-href="https://mangogrove.herokuapp.com/" target="_blank">Michelle's Group Project</a></h3>
      </div>
  <!-- <img id ="background" src="http://previews.123rf.com/images/iloveotto/iloveotto1109/iloveotto110900220/10510265-world-map-vintage-artwork-perfect-background-with-space-for-text-or-image-Stock-Photo.jpg"> -->

</div>


</div>

</md-content>
